.Super-header{
    font-size: 45pt;
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 20px;
}

.header {
  height: 100px;
  color: white;
  background: url('./veg.jpg');
  margin: 0px;
  padding: 0px;
}

.footer{
    text-align: center;
    background-color: black;
    color: white;
    margin: 0px;
    padding: 0px;
}

.search {
    margin-top: 50px;
}

.navbar {
    margin-top: 50px;
}

.h1-footer {
    padding: 0px;
    margin: 0px;
}

.btn-group {

}
