

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 30s linear;
  height: 120px;
  margin-top: 0px;
  margin-bottom: 20px;
}

.Super-header{
    font-size: 45pt;
    padding: 0pt;
    margin-top: 0px;
    margin-bottom: 20px;
}

.App-header {

  height: 280px;
  padding: 15px;
  color: white;
  background: url('./veg.jpg');

}

.App-intro {
  font-size: large;

}

.App-navbar{
    height: 75px;
    background-color: #f44e8e;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
